<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812856292209-3kt75f1q9tfcvm5tofvkbk9b8q62rgci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812856292209-3kt75f1q9tfcvm5tofvkbk9b8q62rgci</string>
	<key>API_KEY</key>
	<string>AIzaSyAGqPjWlBR1B10b_s1q5nTHMWrWjPkhQcY</string>
	<key>GCM_SENDER_ID</key>
	<string>812856292209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ompus.mechmatTut</string>
	<key>PROJECT_ID</key>
	<string>mechmattut-d66a9</string>
	<key>STORAGE_BUCKET</key>
	<string>mechmattut-d66a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812856292209:ios:a38130343910290496fcd0</string>
</dict>
</plist>